<mat-card>
    <mat-card-title>
        <div class="flex-row">
            <div class="flex-5">
                Invoice
            </div>

            <div class="flex-5">
                <button mat-flat-button color="primary" class="float-right" (click)="save()">
                    <mat-icon>print</mat-icon>
                    <span>Save&Print</span>
                </button>
            </div>
        </div>
    </mat-card-title>
    <hr />

    <div style="display: flex; flex-direction: column;">
        <table id="table" style="flex: 1;">
            <tr>
                <th>SL#</th>
                <th>Item name</th>
                <th>Quantity/Unit</th>
                <th>Rate</th>
                <th>Per</th>
                <th>Discount rate</th>
                <th>Amount</th>
            </tr>
            <tr *ngFor="let invoice of invoices; let i = index;">
                <td>{{ i+1 }}</td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.productId">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.quantity">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.rate">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.discountRate">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.amount">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field appearance="outline">
                        <input matInput [(ngModel)]="invoice.sellerId">
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <div style="flex: 1;">
            <button mat-flat-button color="primary" class="float-right" (click)="add()">
                <mat-icon>add</mat-icon>
                <span>Add</span>
            </button>
        </div>
    </div>
</mat-card>