<mat-toolbar color="primary">
    <button mat-icon-button [matMenuTriggerFor]="menuVert" aria-label="Example icon-button with a menu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menuVert="matMenu">
        <button mat-menu-item [routerLink]="['/employee']">
            <mat-icon>group</mat-icon>
            <span>Employee</span>
        </button>
        <button mat-menu-item [routerLink]="['/product']">
            <mat-icon>extension</mat-icon>
            <span>Product</span>
        </button>
        <button mat-menu-item [routerLink]="['/invoice']">
            <mat-icon>notifications_off</mat-icon>
            <span>Invoice</span>
        </button>
    </mat-menu>
    <a href="javascript:;" [routerLink]="['/dashboard']" class="text-bold">GROCERY</a>

    <span class="example-fill-remaining-space"></span>

    <button mat-button [matMenuTriggerFor]="menu">
        <img mat-card-avatar src={{user?.photoURL}}>
    </button>
    <mat-menu #menu="matMenu">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item (click)="authService.googleSignOut()">
            <mat-icon>save_alt</mat-icon>
            <span>Sign Out</span>
        </button>
    </mat-menu>
</mat-toolbar>